<!DOCTYPE html>
<html >
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>森岚云考试</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/static/css/font-awesome/css/font-awesome.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/static/js/bootstrap/css/bootstrap.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/static/css/style.css")" />
</head>
<body>
@Html.Partial("_header-partial", SLOES.Web.HeaderTabMenu.AccountHome)
<div class="content">

	<div class="content_left">@Html.Partial("_left-menu-account-partial")</div>
	<div class="content_right">
	  <div class="right_container">
		 <div class="row" >
			<div class="col-lg-12">
	  
				<div style="height:1000px; background-color:#f00;"><a href="#" title="" >学生账号管理</a></div>
				<p>这里是段落</p>
		 
			</div>
		</div>
	  </div>
    </div>
</div>
</body>
</html>
