@using SLOES.Util
@using SLOES.Model
@using SLOES.DTO
@using SLOES.Service

@{
    string isVipItemString = string.Empty;
    string chapterName = string.Empty;
    string titile = string.Empty;
    string imageBase64 = string.Empty;
    string a = string.Empty;
    string b = string.Empty;
    string c = string.Empty;
    string d = string.Empty;
    string answer = string.Empty;
    string annotation = string.Empty;
    int difficulty = 0;
    string addPerson = string.Empty;
    string addTime = string.Empty;
    
    int id = Convert.ToInt32( ApiQueryUtil.QueryArgByGet("id"));

    ServiceInvokeDTO<MultipleItemDTO> result = ServiceFactory.Instance.ItemDataService.GetMultipleByID(id);
    if(result!= null && result.Code == SLOES.Core.InvokeCode.SYS_INVOKE_SUCCESS)
    {
        MultipleItemDTO multipleDTO = result.Data;
        if (multipleDTO != null)
        {
            isVipItemString = multipleDTO.IsVipItem == 0 ? "普通题库" : "VIP题库";
            chapterName = multipleDTO.ChapterName == null ? string.Empty : multipleDTO.ChapterName;
            titile = multipleDTO.Title == null ? string.Empty : multipleDTO.Title;
            imageBase64 = multipleDTO.Image == null ? string.Empty : Convert.ToBase64String(multipleDTO.Image);
            a = multipleDTO.A == null ? string.Empty : multipleDTO.A;
            b = multipleDTO.B == null ? string.Empty : multipleDTO.B;
            c = multipleDTO.C == null ? string.Empty : multipleDTO.C;
            d = multipleDTO.D == null ? string.Empty : multipleDTO.D;

            answer = multipleDTO.Answer == null ? string.Empty : multipleDTO.Answer;
            annotation = multipleDTO.Annotation == null ? string.Empty : multipleDTO.Annotation;
            difficulty = multipleDTO.Difficulty;
            addPerson = multipleDTO.AddPerson == null ? string.Empty : multipleDTO.AddPerson;
            addTime = multipleDTO.AddTime.ToString("yyyy-MM-dd HH:mm:ss");
        }
    }
}

<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></a>
    <span class="modal-title">详情</span>
</div>
<div class="modal-body itemcontent">
    <table class="inputs-table" >
	    <tbody>
		    <tr><td class="text">题库类型：</td><td class="input">@isVipItemString</td></tr>
            <tr><td class="text">所属章节：</td><td class="input">@chapterName</td></tr>
		    <tr><td class="text">标题：</td><td class="input">@titile</td></tr>

            @if (imageBase64.Length > 0)
            { <tr><td class="text">图片：</td><td class="input"><img src= "data:image/png;base64,@imageBase64" class="itemimg"/></td></tr>   }
            else
            { <tr><td class="text">图片：</td><td class="input">无</td></tr> }
           
            <tr><td class="text">选项A：</td><td class="input">@a</td></tr>
            <tr><td class="text">选项B：</td><td class="input">@b</td></tr>
            <tr><td class="text">选项C：</td><td class="input">@c</td></tr>
            <tr><td class="text">选项D：</td><td class="input">@d</td></tr>
            <tr><td class="text">答案：</td><td class="input">@answer</td></tr>
            <tr><td class="text">答案解析：</td><td class="input">@annotation</td></tr>
            <tr><td class="text">难易度：</td>
                <td class="input">
                    <input type="number" id="difficulty_detail" value="@difficulty" min="0" max="5" step="1" data-size="xs" data-show-clear="false" data-show-caption="false" data-readonly="true"/>
                    <script type="text/javascript">$('#difficulty_detail').rating();</script> 
                </td>
            </tr>
            <tr><td class="text">添加人：</td><td class="input">@addPerson</td></tr>
            <tr><td class="text">添加时间：</td><td class="input">@addTime</td></tr>
	    </tbody>
    </table>
</div>
<div class="modal-footer"></div>






